<h1>Create New Meeting</h1>

<%= form_tag meetings_path, method: :post do %>
  <div>
    Name: <input type="text" name="name" value="<%= @meeting.name %>">
  </div>

  <div>
    Address: <input type="text" name="address" value="<%= @meeting.address %>">
  </div>

  <div>
    Start Time: <input type="datetime-local" name="start_time" value="<%= @meeting.start_time_formatted %>">
  </div>

  <div>
    End Time: <input type="datetime-local" name="end_time" value="<%= @meeting.end_time_formatted %>">
  </div>

  <div>
    Notes: <textarea name="notes" value="<%= @meeting.notes %>" cols="30" rows="10"></textarea>
  </div>
  <div>
    Tags:
    <% Tag.all.each do |tag| %>
      <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"><%= tag.name %>
    <% end %>
  </div>

  <input type="submit" value="Create Meeting">
<% end %>